<?php $product = $this->getProduct(); ?>
<div class="collapsed-box box">
    <div class="box-header with-border" data-widget="collapse">
        <h3 class="box-title"><?php echo __("General Information"); ?></h3>
        <div class="box-tools pull-right tab-error-highlighter text-red">
            <i class="fa fa-warning"></i>
        </div>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" ><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <?php $field = $this->getFieldDetail($this->getFieldKey('name')); ?>
        <?php if($field['is_visible']){ ?>
            <div class="form-group col-xs-12 col-sm-6 col-lg-6">
                <label><?php echo $field['label']; ?><?php if($field['is_required']){ ?><sup><em>*</em></sup><?php } ?></label>
                
                <?php echo $this->renderFieldTextHtml($field); ?>
            </div>
        <?php } ?>

        <?php $field = $this->getFieldDetail($this->getFieldKey('sku')); ?>
        <?php if($field['is_visible']){ ?>
            <div class="form-group col-xs-12 col-sm-6 col-lg-6">
                <label><?php echo $field['label']; ?><?php if($field['is_required']){ ?><sup><em>*</em></sup><?php } ?></label>

                <?php $field_event = 'onblur="vssmpCheckSkuExistence(this)"'; ?>
                <?php echo str_replace('replace_extras', $field_event, $this->renderFieldTextHtml($field, 'product', true)); ?>
            </div>
        <?php } ?>

        <?php echo $this->getChildHtml('', true, true); ?>
    </div>
    <script type="text/javascript">
        var vssmp_check_sku_url = "<?php echo $this->getFrontUrl('Product', 'validateSku'); ?>";
        var vssmp_product_id = "<?php echo $product->getId(); ?>";
    </script>
</div>