<?php

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */

//exit('hi');


$modelNumbers  = $block->getAllSellerEnabledProducts();
//echo "<pre>"; print_r($modelNumbers); exit;


?>
<div class="body">
			<div class="homepage-herowrap">
				<div class="body-wrap">
					<div class="product-img">		
						<div class="parent-div">
							<ul class="parent-slick">
								<li class=""> <img src="<?php echo $block->getViewFileUrl('images/Car1@2x.png'); ?>"> </li>
								<li class=""> <img src="<?php echo $block->getViewFileUrl('images/Car1@2x.png'); ?>"> </li>
								<li class=""> <img src="<?php echo $block->getViewFileUrl('images/Car1@2x.png'); ?>"> </li>
								<li class=""> <img src="<?php echo $block->getViewFileUrl('images/Car1@2x.png'); ?>"> </li>
								<li class=""> <img src="<?php echo $block->getViewFileUrl('images/Car1@2x.png'); ?>"> </li>
							</ul>
						</div>
					</div>
					<div class="product-info">
						<div class="product-info-wrap">
							<div class="header-wrapper">
								<div class="text-div">
									<img src="<?php echo $block->getViewFileUrl('images/Group.png'); ?>">
								</div>
								<div class="shadow-div">
									looking for service/spares/insurence for your existing car?
								</div>
							</div>
							<div class="wrapper-div">
								<div class="selector-tab">
									All 
								</div>
								<div class="selector-tab">
									Service &amp; spares
								</div>
								<div class="selector-tab">
									Insurance
								</div>
								<div class="selector-tab">
									Accessories
								</div>
							</div>
							<form action="<?php /* @escapeNotVerified */ echo $block->getPostActionUrl() ?>" method="post" id="search_by_parts" enctype="multipart/form-data" autocomplete="off">
							<div class="selector-wrapper">
								<div class="select-dropdown">
									<select id="model_number" name="model_number" title="<?= $block->escapeHtmlAttr(__('Model')) ?>"  >
                					<option value=""> <?= $block->escapeHtmlAttr(__(' Model'))?></option>
                					<?php
                						foreach ($modelNumbers as $modelNumber) {
                							$productName = $block->getProductName((int)$modelNumber);
                							?>

                							<option value="<?php echo $modelNumber; ?>"><?= $block->escapeHtml(__($productName->getName())) ?></option>

                							<?php } ?>
                					</select>
								</div>
								<div class="select-dropdown">
									<select id="variant" name="variant" title="<?= $block->escapeHtmlAttr(__('Variant')) ?>"  >
                					<option value=""> <?= $block->escapeHtmlAttr(__(' Variant'))?></option>
                					<?php
                						foreach ($modelNumbers as $modelNumber) {
                							$productName = $block->getProductName((int)$modelNumber);
                							?>

                							<option value="<?php echo $modelNumber; ?>"><?= $block->escapeHtml(__($productName->getName())) ?></option>

                							<?php } ?>
                					</select>
								</div>
								<div class="select-dropdown">
									<select id="body_style" name="body_style" title="<?= $block->escapeHtmlAttr(__('Body Style')) ?>"  >
                					<option value=""> <?= $block->escapeHtmlAttr(__(' Body Style'))?></option>
                					<?php
                						foreach ($modelNumbers as $modelNumber) {
                							$productName = $block->getProductName((int)$modelNumber);
                							?>

                							<option value="<?php echo $modelNumber; ?>"><?= $block->escapeHtml(__($productName->getName())) ?></option>

                							<?php } ?>
                					</select>

								</div>
								<div class="select-dropdown">
									<select id="type" name="type" title="<?= $block->escapeHtmlAttr(__('Type')) ?>" class="validate-select" >
                					<option value=""> <?= $block->escapeHtmlAttr(__(' Type'))?></option>
                					<?php
                						foreach ($modelNumbers as $modelNumber) {
                							$productName = $block->getProductName((int)$modelNumber);
                							?>

                							<option value="<?php echo $modelNumber; ?>"><?= $block->escapeHtml(__($productName->getName())) ?></option>

                							<?php } ?>
                					</select>
								</div>
							</div>
							<div class="compare-button">
								 <button type="submit" id="search-submit" class="action submit custom-button" title="Search"><span><?php /* @escapeNotVerified */ echo __('Best Deals')?></span></button>

								<!-- <img src="<?php echo $block->getViewFileUrl('images/Group-121.png'); ?>"> -->
							</div>
							</form>
						</div>
					</div>
				</div>

				<div class="body-wrap01">
					<div class="car-deal-info">
						<h3 class="head-text">Today's Top Car Deals!</h3>
						<div class="parent-div">
							<ul class="parent-slick">
								<li class="car-deal-content">
									<div class="top-content">
										<div class="text-content">
											<div class="car-icon-name">
												<span class="car-icon"><img src="<?php echo $block->getViewFileUrl('images/car-icon.png'); ?>"></span>
												<span class="car-name">Linea XL</span>
											</div>
											<div class="dealer-icon-name">
												<span>from</span>
												<span class="dealer-icon"><img src="<?php echo $block->getViewFileUrl('images/dealer-icon.png'); ?>"></span>
												<span class="dealer-name">Dealer Cosel</span>
											</div>
											<div class="rating">
												<img src="<?php echo $block->getViewFileUrl('images/star-rating.png'); ?>">
											</div>
										</div>
										<div class="car-img">
											<img src="<?php echo $block->getViewFileUrl('images/bmw_PNG1689.png'); ?>">
										</div>
									</div>
									<div class="bottom-content">
										<div class="car-img">
											<img src="<?php echo $block->getViewFileUrl('images/ford-png-28883.png'); ?>">
										</div>
										<div class="text-content">
											<div class="car-icon-name">
												<span class="car-icon"><img src="<?php echo $block->getViewFileUrl('images/car-icon.png'); ?>"></span>
												<span class="car-name">Husie</span>
											</div>
											<div class="dealer-icon-name">
												<span>from</span>
												<span class="dealer-icon"><img src="<?php echo $block->getViewFileUrl('images/dealer-icon.png'); ?>"></span>
												<span class="dealer-name">Dealer XSell</span>
											</div>
											<div class="rating">
												<img src="<?php echo $block->getViewFileUrl('images/star-rating.png'); ?>">
											</div>
										</div>
									</div> 
								</li>
								<li class="car-deal-content">
									<div class="top-content">
										<div class="text-content">
											<div class="car-icon-name">
												<span class="car-icon"><img src="<?php echo $block->getViewFileUrl('images/car-icon.png'); ?>"></span>
												<span class="car-name">Linea XL</span>
											</div>
											<div class="dealer-icon-name">
												<span>from</span>
												<span class="dealer-icon"><img src="<?php echo $block->getViewFileUrl('images/dealer-icon.png'); ?>"></span>
												<span class="dealer-name">Dealer Cosel</span>
											</div>
											<div class="rating">
												<img src="<?php echo $block->getViewFileUrl('images/star-rating.png'); ?>">
											</div>
										</div>
										<div class="car-img">
											<img src="<?php echo $block->getViewFileUrl('images/bmw_PNG1689.png'); ?>">
										</div>
									</div>
									<div class="bottom-content">
										<div class="car-img">
											<img src="<?php echo $block->getViewFileUrl('images/ford-png-28883.png'); ?>">
										</div>
										<div class="text-content">
											<div class="car-icon-name">
												<span class="car-icon"><img src="<?php echo $block->getViewFileUrl('images/car-icon.png'); ?>"></span>
												<span class="car-name">Husie</span>
											</div>
											<div class="dealer-icon-name">
												<span>from</span>
												<span class="dealer-icon"><img src="<?php echo $block->getViewFileUrl('images/dealer-icon.png'); ?>"></span>
												<span class="dealer-name">Dealer XSell</span>
											</div>
											<div class="rating">
												<img src="<?php echo $block->getViewFileUrl('images/star-rating.png'); ?>">
											</div>
										</div>
									</div> 
								</li>
								<li class="car-deal-content">
									<div class="top-content">
										<div class="text-content">
											<div class="car-icon-name">
												<span class="car-icon"><img src="<?php echo $block->getViewFileUrl('images/car-icon.png'); ?>"></span>
												<span class="car-name">Linea XL</span>
											</div>
											<div class="dealer-icon-name">
												<span>from</span>
												<span class="dealer-icon"><img src="<?php echo $block->getViewFileUrl('images/dealer-icon.png'); ?>"></span>
												<span class="dealer-name">Dealer Cosel</span>
											</div>
											<div class="rating">
												<img src="<?php echo $block->getViewFileUrl('images/star-rating.png'); ?>">
											</div>
										</div>
										<div class="car-img">
											<img src="<?php echo $block->getViewFileUrl('images/bmw_PNG1689.png'); ?>">
										</div>
									</div>
									<div class="bottom-content">
										<div class="car-img">
											<img src="<?php echo $block->getViewFileUrl('images/ford-png-28883.png'); ?>">
										</div>
										<div class="text-content">
											<div class="car-icon-name">
												<span class="car-icon"><img src="<?php echo $block->getViewFileUrl('images/car-icon.png'); ?>"></span>
												<span class="car-name">Husie</span>
											</div>
											<div class="dealer-icon-name">
												<span>from</span>
												<span class="dealer-icon"><img src="<?php echo $block->getViewFileUrl('images/dealer-icon.png'); ?>"></span>
												<span class="dealer-name">Dealer XSell</span>
											</div>
											<div class="rating">
												<img src="<?php echo $block->getViewFileUrl('images/star-rating.png'); ?>">
											</div>
										</div>
									</div> 
								</li>
							</ul>
						</div>
					</div>
					<div class="dealers-info">
						<div class="wrap-div">
							<h3> Best Offers from Various Dealers! </h3>
							<div class="dealers-wrap-div">
								<div class="best-emi">
									<div class="car-icon">
										<img src="<?php echo $block->getViewFileUrl('images/best-emi.png'); ?>">
									</div>
									<div class="card">
										<div class="card_image">
										<img src="<?php echo $block->getViewFileUrl('images/driving-happy.png'); ?>">
										</div>
										<span class="card-text"> Now Drive Home Happiness withBest Car Loan! </span>
										
									</div>
								</div>
								<div class="best-insurence">
									<div class="car-icon">
										<img src="<?php echo $block->getViewFileUrl('images/best-insurance.png'); ?>">
									</div>
									<div class="card">
										<div class="card_image">
										<img src="<?php echo $block->getViewFileUrl('images/no-path.png'); ?>">
										</div>
										<span class="card-text"> Explore Best Insurance Offers from Top Dealers </span>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="quote-content">
				<div class="ask-quote-btn">Ask a Quote</div>
					<div class="quote">
						<div class="quote-main-content">
							<div class="quote-img">
								<img src="<?php echo $block->getViewFileUrl('images/quote-img.png'); ?>">
							</div>
							<div class="quote-register">
								<div class="quote-text">Let's Register for Getting Best Quotes from Various Dealers!</div>
								<div class="register-btn">
									Register
								</div>
							</div>
					</div>
				</div>
			</div>

<div class="slot-comment-content">
				<div class="comment-slot">
					<div class="comment-wrapper">
						<div class="parent-div">
							<ul class="parent-slick">
								<li class=""> 
									<div class="comment-container">
										<div class="shadow-container">
											<div class="img-part">
												<img src="<?php echo $block->getViewFileUrl('images/court-prather-765192-unsplash.png'); ?>">
											</div>	
											<div class="comment-part">
												<p>
												"Auto Seller is one of the best marketplace i have ever used with on any purchase. It gives the fact as they are and is extremly knowledgeable about all facets of the car and the process"
												</p>
												<h3 class="commenter-name"> - Ashley wallace </h3>
											</div>	
										</div>											
									</div> 
								</li>
								<li class=""> 
									<div class="comment-container">
										<div class="shadow-container">
											<div class="img-part">
												<img src="<?php echo $block->getViewFileUrl('images/court-prather-765192-unsplash.png'); ?>">
											</div>	
											<div class="comment-part">
												<p>
												"Auto Seller is one of the best marketplace i have ever used with on any purchase. It gives the fact as they are and is extremly knowledgeable about all facets of the car and the process"
												</p>
												<h3 class="commenter-name"> - Ashley wallace </h3>
											</div>	
										</div>											
									</div> 
								</li>
								<li class=""> 
									<div class="comment-container">
										<div class="shadow-container">
											<div class="img-part">
												<img src="<?php echo $block->getViewFileUrl('images/court-prather-765192-unsplash.png'); ?>">
											</div>	
											<div class="comment-part">
												<p>
												"Auto Seller is one of the best marketplace i have ever used with on any purchase. It gives the fact as they are and is extremly knowledgeable about all facets of the car and the process"
												</p>
												<h3 class="commenter-name"> - Ashley wallace </h3>
											</div>	
										</div>											
									</div> 
								</li>
								<li class=""> 
									<div class="comment-container">
										<div class="shadow-container">
											<div class="img-part">
												<img src="<?php echo $block->getViewFileUrl('images/court-prather-765192-unsplash.png'); ?>">
											</div>	
											<div class="comment-part">
												<p>
												"Auto Seller is one of the best marketplace i have ever used with on any purchase. It gives the fact as they are and is extremly knowledgeable about all facets of the car and the process"
												</p>
												<h3 class="commenter-name"> - Ashley wallace </h3>
											</div>	
										</div>											
									</div> 
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="img-slot">
					<img src="<?php echo $block->getViewFileUrl('images/slot1.png'); ?>">
				</div>
			</div>

			<div class="clearfix"></div>

			<div class="slot-heroimg-content">
				<div class="heroimg-slot">

					<div class="heroimg-wrapper">
				
				
					
						<div class="heroimg-left">
						<div class="view_all_exchange">
							<center> View All Exchange Offers </center>
						</div>
						<img src="<?php echo $block->getViewFileUrl('images/caredited@2x.png'); ?>">
						</div>
						
						<div class="heroimg-right">
			
						<div class="Explore_latest">
							<center> Explore Latest Model of Compact! </center>
						</div>
							<div class="product-img-low">		
								<div class="parent-div">
									<div class="remove_slick">
									<div class="slick_list_draggable">
									<ul class="parent-slick">
										<li> <img src="<?php echo $block->getViewFileUrl('images/Car1copy.png'); ?>"> </li>
										<li> <img src="<?php echo $block->getViewFileUrl('images/Car1copy.png'); ?>"> </li>
										<li> <img src="<?php echo $block->getViewFileUrl('images/Car1copy.png'); ?>"> </li>
										<li> <img src="<?php echo $block->getViewFileUrl('images/Car1copy.png'); ?>"> </li>
									</ul>
									<div class="dustpact_rght">
									<img src="<?php echo $block->getViewFileUrl('images/Group_1183.png'); ?>">
									</div>

									<div class="deals_img_button">
										<a href="#"> <img src="<?php echo $block->getViewFileUrl('images/Group_deals_1250.png'); ?>"></a>
									</div>
									</div>
								</div>	
							</div>
						</div>
	
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>


			

</div><!--End-body-->

<div class="feedback-btn">
				<a href="#" class="btn btn-feedback">
					Give Feedback
				</a>


<style type="text/css">
	li.level0.level-top.active.ui-menu-item a{
    background: transparent;
    border: none;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid yellow;
}
.active.home-menu
</style>