body {
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.product-img {
    width: 50%;
    background: #081419;
    float: left;
}
.product-info {
    float: right;
    width: 50%;
    background: #081419;
    height: 521px;
}
.header-wrapper {
    float: left;
    padding: 30px;
}
.text-div {
    /* padding: 30px; */
    float: left;
}
.text-div img {
    width: 250px;
}
.shadow-div {
    float: left;
    color: #fff;
    width: 200px;
    font-size: 18px;
    padding: 30px;
    font-family: 'Open Sans';
    text-transform: capitalize;
}
.wrapper-div {
    float: left;
    /* width: 100%; */
    padding: 0px 0px 0px 40px;
    color: #75888e;
}
.selector-tab {
    float: left;
    padding: 0px 20px;
}
.selector-wrapper {
    float: left;
    width: 80%;
    padding-left: 30px;
}
.select-dropdown {
        float: left;
    padding: 10px 15px 10px 30px;
    background: #242b31;
    margin-left: 25px;
    margin-top: 25px;
    }
   .select-dropdown a {
    color: #75888e;
}
span.arrow.down {
    transform: rotate(-135deg); }
 .arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: transparent;
    text-indent: -9999px;
    border-top: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
    margin-left: 20px;
}
.compare-button img {
    width: 250px;
    margin: 55px;
}

/*Homepage  CSS*/
*{
    box-sizing: border-box;
}
.body-wrap{
    overflow: hidden;
}
.body-wrap01{
    overflow: hidden;
}
/*Car-Deal Info*/
.car-deal-info{
    float: left;
    width: 41%;
    position: relative;
    height: 598px;
    padding-left: 7%;
}
.car-deal-info::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    bottom: 0;
    right: 0;
    top: 0;
    border-bottom: 0 solid transparent;
    border-color: transparent #081419;
    border-width: 0 0 47vw 10vw;
    transform: rotate(180deg);
}
.car-deal-info .head-text{
    font-size: 22px;
    margin-bottom: 55px;
    margin-top: 52px;
}
.car-deal-info .top-content{
    display: flex;
}
.car-deal-info .car-icon-name{
    display: flex;
}
.car-deal-info .car-name{
    font-weight: bold;
    margin-left: 6px;
}
.car-deal-info .dealer-icon-name{
    display: flex;
    margin-top: 5px;
}
.car-deal-info .dealer-icon-name span{
    font-weight: bold;
}
.car-deal-info .dealer-icon{
    margin-left: 5px;
    margin-right: 5px;
}
.car-deal-info .dealer-name{
    color: #ffd800;
}
.car-deal-info .rating img{
    height: 18px;
}
.car-deal-info .top-content .car-img{
    width: 44%;
    position: relative;
    bottom: 4px;
    right: 10px;
    background: linear-gradient(to right, white 49%,#f4f4f4 14%);
}
.car-deal-info .car-img img{
    width: 93%;
}
/*Bottom Content*/
.bottom-content{
    display: flex;
    margin-top: 70px;
}
.car-deal-info .bottom-content .car-img{
    width: 48%;
    position: relative;
    bottom: 4px;
    left: 0px;
    background: linear-gradient(to right, #f4f4f4 49%, white 14%);
    padding: 12px;
}

/*Dealers info*/
.dealers-info{
    float: right;
    width: 59%;
    color: white;
    background-color: #081419;
    padding-right: 3%;
    padding-left:2%;
    padding-bottom: 100px;
}
.dealers-wrap-div{
    margin-top: 47px;
    margin-top: 47px;
    display: flex;
    align-items: center;
}
.wrap-div h3{
    font-size: 22px;
    font-weight: bold;
    margin-top: 50px;
}
.dealers-wrap-div .best-emi{
    width: 49%;
    padding-right: 7%;
    border-right: 1px solid #75888e;
}
.dealers-wrap-div .best-insurence{
    width: 49%;
    padding-left: 7%
}
.best-emi .car-icon img{
    width: 52%;
}
.best-insurence .car-icon img{
    width: 62%;
}
.card{
    margin-top: 28px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
    background-color: #0f222d;
}
.card .card-text{
    text-align: center;
    display: flex;
    padding: 11px 11px;
}

/*Slick Arrows*/
.car-deal-info .slick-arrow{
    background-color: white !important;
    border: none !important;
    width: 45px !important;
    height: 45px !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19) !important;
}
.car-deal-info .slick-arrow::before{
    border-color: black !important;
}
.car-deal-info .slick-prev{
    top: 70px !important;
    left: 0px !important;
}
.car-deal-info .slick-next{
    bottom: 72px !important;
    left: 48% !important;
}
.car-deal-info .slick-prev::before{
    position: relative !important;
    top: 4px !important;
    left: 2px !important;
}
.car-deal-info .slick-next::before{
    position: relative !important;
    top: 4px !important;
    right: 3px !important;
}
.car-deal-info .slick-dots li{
    width: 6px !important;
    height: 6px !important;
    background: white !important;
    margin: 0 2px !important;
}
.car-deal-info .slick-dots{
    width: 43% !important;
    margin: 50px 0 !important;
}
.car-deal-info .slick-dots li.slick-active {
    background: #77878E !important;
}

/*Ask a Quote*/
.quote-content .ask-quote-btn{
    position: relative;
    z-index: 1;
    margin: 0 auto;
    width: 170px;
    display: flex;
    align-items: center;
    height: 45px;
    background-color: #ffd800;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 70px;
    cursor: pointer;
}
.quote-content .quote{
    display: none;
    background-color: #f9f9f9;
    margin-top: -22px;
}
.quote-content .quote-main-content{
    display: flex;
    width: 60%;
    margin: 0 auto;
    background: #f9f9f9;
    padding: 30px;
}
.quote-content .quote-img{
    width: 30%;
}
.quote-content .quote-register{
    margin-left: 18%;
}
.quote-content .quote-text{
    width: 80%;
    margin-top: 26px;
    font-size: 14px;
    font-weight: bold;
}
.quote-content .register-btn{
    width: 170px;
    display: flex;
    align-items: center;
    height: 45px;
    background-color: #ffd800;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 19px;
    cursor: pointer;
}
.quote-content .show{
    display: block;
}
.quote-content .grey-color{
    background-color: #f4f4f4 !important;
}
.slot-comment-content{
    margin-top: 50px;
}
